<a href="https://colab.research.google.com/github/jcgcjuan/Chicorita/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 1
x

1

In [ ]:
Juan = 31
Juan

31

In [ ]:
Guillermo_Andrés = 35
Guillermo_Andrés

35

In [ ]:
Juan + Guillermo_Andrés

66

In [ ]:
print("Hello, World!")

Hello, World!

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [22]:
Juan > Guillermo_Andrés

False

In [27]:
if 5 > 2:
  print("Five is greater than two!")
if 2 < 5:
  print("Five is bad")

Five is greater than two!
Five is bad

In [29]:
x = 5
y = "Hello, World!"
z = Guillermo_Andrés

In [ ]:
#This is a comment.
print("Hello, World!")

In [33]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [34]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [38]:
a = 4
A = "Sally"
#A will not overwrite a
a
A
print(A)

Sally

In [41]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [43]:
fruits = ("apple", "banana", "cherry")
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry