<a href="https://colab.research.google.com/github/jcgcjuan/Chicorita/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 1
x

1

In [ ]:
Juan = 31
Juan

31

In [ ]:
Guillermo_Andrés = 35
Guillermo_Andrés

35

In [ ]:
Juan + Guillermo_Andrés

66

In [ ]:
print("Hello, World!")

Hello, World!

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [ ]:
Juan > Guillermo_Andrés

False

In [ ]:
if 5 > 2:
  print("Five is greater than two!")
if 2 < 5:
  print("Five is bad")

Five is greater than two!
Five is bad

In [ ]:
x = 5
y = "Hello, World!"
z = Guillermo_Andrés

In [ ]:
#This is a comment.
print("Hello, World!")

In [ ]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a
a
A
print(A)

Sally

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [5]:
fruits = ("apple", "banana", "cherry", "juan", "guille")
x, y, z, a, b = fruits
print(x)
print(y)
print(z)
print(a)

apple
banana
cherry
juan

In [6]:
x = "awesome"
print("Python is " + x)

Python is awesome

In [7]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

In [21]:
x = 3000
str(x)
def myfunc():
  print(3 * x)

myfunc()

9000

In [23]:
int(x)

3000

In [37]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is fantastic

In [38]:
def myfunc():
  global x
  x = "fantastic"
  print(x)

myfunc()

fantastic

In [39]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [40]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [41]:
#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

NOS QUEDAMOS EN NUMEROS ALEATORIOS